<div mat-dialog-content>
    <h3>{{data.question}}</h3>
    <div class="row">
        <mat-form-field class="col-4">
            <mat-label>Añadir Titulo</mat-label>
            <input matInput [(ngModel)]="data.text">
        </mat-form-field>

        <mat-form-field class="col-8">
            <mat-label>Añadir Descripción</mat-label>
            <input matInput [(ngModel)]="descripcion">
        </mat-form-field>
    </div>
</div>
<br>

<!--PRUEBA CALENDARIO-->
<div class="row">
    <mat-form-field appearance="fill" class="col-5">
        <mat-label>Ingresar fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Fecha de inicio">
          <input matEndDate formControlName="end" placeholder="Fecha fin">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
<!---->

<!--ASIGNAR USUARIO-->
<mat-form-field appearance="fill"class="col-5">
    <mat-label>Asignar usuario</mat-label>
    <mat-select>
        <mat-option *ngFor="let usuario of usuario" value="usuario">{{usuario}}</mat-option>
    </mat-select>
</mat-form-field>

<!--prioridad-->
<mat-form-field appearance="fill"class="col-2">
    <mat-label>Prioridad</mat-label>
    <mat-select>
        <mat-option *ngFor="let prioridad of prioridad" value="prioridad">{{prioridad}}</mat-option> 
    </mat-select>
</mat-form-field>
<!--
    <mat-form-field appearance="fill" class="col-4">
    <mat-label>Tooltip position</mat-label>
    <mat-select [formControl]="position">
      <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
        {{positionOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>
-->

<br>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data.text" cdkFocusInitial color="primary">Guardar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
</div>